@import '~styles/base.scss';

.container {
  width: 100vw;
}

.text {
  text-align: center;
  vertical-align: middle;
  margin: 1em 0 0.5em 0;
}

.header-text {
  font-size: 32px;
}

.subheader-text {
  font-size: 24px;
}

.subheader-lastlogin {
  font-size: 16px;
}