:global {
  html {
    height: 100%;
  }
  body {
    width: 100%;
    float: left;
    background-color: #666A86;
    font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #EEEEFF;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }

  #root {
    display: flex;
    height: 100%;
  }
}
